{% extends 'base_main.html' %}

{% block title %}
    <title>Pigeon Pedigree Pro</title>
{% endblock %}

{% block menu%}
    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
        <li ><a href="{{url_for('home')}}">Home</a></li>
        <li class="current-menu-item"><a href="{{url_for('pedigree')}}">Pedigree</a></li>
        <li><a href="{{url_for('pigeons')}}">Pigeons</a></li>
        <li><a href="{{url_for('loft')}}">Loft</a></li>
        <li><a href="{{url_for('chat')}}">Global Chat</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a></li>

    </ul>
{% endblock %}

{% block body %}


{% endblock %}


{% block custom_js %}

{% endblock %}